* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body {
  font-family: "timeburner", sans-serif;
  overflow-x: hidden;
  background: #21222d;
  letter-spacing: 1px;
}

.title {
  background: #f7c389;
  font-size: xx-large;
  text-align: center;
  font-weight: 900;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  color: #272623;
  -webkit-box-shadow: 0 4px 14px #000000;
          box-shadow: 0 4px 14px #000000;
  margin-bottom: 20px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .side {
  max-width: 40%;
  min-width: 270px;
}

.container .side .categories {
  margin: 10px 20px;
  background: #3f3f50;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 14px #403b3e;
          box-shadow: 0 0 14px #403b3e;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.container .side .categories h2 {
  padding: 10px;
  background: #7b799a;
  color: aliceblue;
}

.container .side .categories ul li {
  margin: 10px;
  list-style: inside;
}

.container .side .categories ul li a {
  color: white;
}

.container .side .years {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.container .side .years button {
  all: unset;
  background: linear-gradient(178deg, #7b799a, transparent);
  padding: 10px;
  color: white;
  width: 100%;
  text-align: center;
}

.container .side .years ul {
  text-align: center;
  padding: 15px;
}

.container .side .years ul li {
  display: inline-block;
  list-style: none;
  background: wheat;
  cursor: pointer;
  padding: 5px 15px;
  width: 85px;
  border-radius: 100vw;
  text-align: center;
}

.container .body {
  width: auto;
  background: #3c3c4a;
  margin: 10px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 14px #ffffff61;
          box-shadow: 0 0 14px #ffffff61;
  color: white;
  overflow: hidden;
}

.container .body h1 {
  padding: 10px;
  border-bottom: 2px solid white;
  background: #f7c389;
}

.container .body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .body ul li {
  max-width: 270px;
  margin: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #242244;
  border-radius: 5px;
  overflow: hidden;
}

.container .body ul li h2 {
  text-align: center;
  padding: 10px;
  background: #7b799a;
}

.container .body ul li h3 {
  padding: 10px;
  border-bottom: 2px solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container .body ul li ul {
  display: block;
}

.container .body ul li ul li {
  list-style: inside;
}

.container .body ul li p {
  padding: 15px;
}

.category {
  background: #454554;
}

.category button {
  all: unset;
  background: linear-gradient(178deg, #7b799a, transparent);
  padding: 10px;
  color: white;
  width: 100%;
  text-align: center;
}

.category .holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 10px;
  padding: 10px;
  color: wheat;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category .holder li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
  text-align: center;
  margin: 10px;
  padding: 15px;
  border: 1px solid;
  min-height: 330px;
}

.category .holder li ul {
  all: unset;
  background: #6a6b7b;
  padding: 10px;
  display: block;
  text-align: left;
  color: white;
}

.category .holder li ul li {
  all: unset;
  margin: 5px 0;
  display: block;
  padding: 5px 0;
}

.category .holder li h4 {
  margin: 10px;
  border: 1px solid;
  padding: 10px 5px;
  background: #f7c3894f;
}

@media (max-width: 600px) {
  .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .side .years ul li {
    width: auto;
  }
  .container .body ul li {
    width: 100%;
  }
  .category .holder li {
    width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
/*# sourceMappingURL=index.css.map */